body {
  font-family: "Avenir Next";
  margin: 0;
}

li {
  list-style: none;
}

.header {
  background-color: #000000;
  color: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

#headerLogo {
  text-decoration: none;
}

.page_title {
  float: left;
  font-family: arial;
  font-weight: 800;
  cursor: pointer;
}

.list {
  float: right;
  margin-right: 30px;
}

.list li {
  float: left;
  padding-right: 10px;
}

.list a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.list a:hover {
  opacity: 0.6;
}

.page_title {
  padding: 15px 20px;
  float: left;
}

.top_contents {
  background-image: url(street.jpg);
  background-size: cover;
  height: 700px;
  text-align: center;
  color: white;
}

.btn_contents {
  width: 500px;
  margin: 0 auto;
  padding-top: 10%;
}

.btn_contents a {
  display: inline-block;
  padding: 8px 28px;
  background-color: black;
  opacity: 0.9;
  font-weight: 500;
}

.buy_contents {
  padding-top: 20px;
}

.contents_title {
  font-size: 40px;
  font-family: arial black;
  padding: 10px 0px 40px 35px;
  display: block;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  float: left;
  width: 25%;
  text-align: center;
  border: solid 2px #000000;
  margin: 10px 20px;
}

.product img {
  width: 80%;
}

.buy_btn {
  padding: 8px 28px;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-weight: 500;
  margin: 10px;
  cursor: pointer;
}

.sell_contents{
  text-align: center;
}

.sell_contents a {
  text-align: left;
}

.sell_form {
  display: block;
  display: flex;
  margin: 0px 40px 50px 50px;
  background-color: #d3d3d3;
}

.sell_form_left {
  width: 50%;
  float: left;
}

.sell_form_right {
  width: 50%;
  float: right;
  position: relative;
}

#exhibit_btn {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 43%;
  color: white;

  padding: 8px 28px;
  background-color: black;
  opacity: 0.8;
  font-weight: 500;
}

.footer {
  background-color: black;
  color: #fff;
  height: 200px;
  padding: 20px;
  position: relative;
}

.footer-list {
  float: right;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
}

.footer-list li {
  padding-bottom: 20px;
}

#copyright {
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

.a_btn {
  cursor: pointer;
  text-decoration: none;
}

.a_btn:hover {
  opacity: 1;
}

.login_form_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #fff;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.modal-title {
  font-family: arial black;
  font-size: 24px;
}

#login-btn {
  display: inline-block;
  color: white;
  padding: 8px 28px;
  background-color: black;
  opacity: 0.9;
  font-weight: 500;
}

#login-btn:hover {
  opacity: 1;
}

.close_modal {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

#after_login {
  display: inline-block;
  padding: 8px 28px;
  background-color: black;
  font-weight: 500;
}

.cart_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.cart {
  position: absolute;
  bottom: 1%;
  right: 1%;
  background-color: #fff;
  padding: 20px 0 40px;
  border-radius: 5px;
  width: 450px;
  height: auto;
  text-align: center;
}

#checkOut {
  display: inline-block;
  color: white;
  padding: 8px 28px;
  background-color: black;
  opacity: 0.9;
  font-weight: 500;
}

#default_cart_message {
  font-family: arial;
  font-size: 12px;
}

.sum-cart {
  border-top: dashed 1px;
  text-align: right;
  padding-right: 8%;
  font-family: arial;
  font-size: 13px;
}
