body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #000000;
  color: #fff;
  height: 50px;
}

.YAMATOWN {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.list {
  float: right;
}

.list li {
  float: left;
  padding-right: 10px;
}

.list a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 12px;
}

.page_title {
  padding: 15px 20px;
  float: left;
}

.top_contents {
  background-image: url(street.jpg);
  background-size: cover;
  height: 700px;
  text-align: center;
  color: white;
}

.btn_contents {
  width: 500px;
  margin: 0 auto;
  padding-top: 10%;
}

.btn_contents a {
  display: inline-block;
  padding: 8px 28px;
  background-color: black;
  opacity: 0.9;
  font-weight: 500;
}

.footer {
  background-color: black;
  color: #fff;
  height: 200px;
  padding: 20px;
}

.footer-list {
  float: right;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
}

.footer-list li {
  padding-bottom: 20px;
}
